* {
    margin: 0px;
    padding: 0px;
    scrollbar-width: 0px;
}

html {
    background-color: rgba(32, 51, 57, 1);
    font-family: ZenDots, Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
}

header {
    width: 100%;
    display: flex;
    margin: auto;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

nav {
    display: flex;
    width: 100%;
    height: 40px;
    margin-top: 20px;
    font-size: large;
}

.navlogo {
    display: flex;
    align-items: center;
}

.logo {
    height: 70px;
    width: 90px;
    margin-right: 10px;
    margin-left: 10px;
}

.helmets {
    height: 42px;
    margin-right: 10px;
    margin-left: 20px;
}



.navbutton {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-right: 10px;
    padding-right: 10px;
    align-content: center;
}


.button:hover {
    cursor: pointer;
}

.button {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: flex-end;
    border-radius: 5px;
    background-color: rgba(32, 51, 57, 1);
    color: rgb(158, 156, 156);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-decoration: none;
    width: 7em;
    font-size: 1,5em;
    margin-right: 10px;
}

a {
    text-decoration: none;
}

a:hover {
    color: goldenrod;
    z-index: 2;
}

.section {
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: auto;
    min-height: 20%;
    padding: 5px;
    margin-bottom: 30px;
    margin-top: 30px;
    position: relative;
}

.contacto-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}

.contacto {
    flex-direction: column;
    margin: 3px;
}

li {
    list-style: none;
    margin: 3px;
    margin-bottom: 25px;
    text-decoration: none;
}

p {
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    color: #F59877;
    margin: 30px;
    text-align: center;
}

span {
    color: rgb(158, 156, 156);
}

.fa {
    font-size: 8em;
    color: #F59877;
    margin: auto;
    padding-right: 30px;
    ;
}

h4 {
    color: rgb(158, 156, 156);
    margin-left: 20px;
    display: block;
    font-size: x-large;
}

hr {
    height: 1px;
    width: 100%;
    background-color: #F59877;
    margin: 3px;
}

.contacto {
    display: flex;
    color: #F59877;
    font-size: larger;
}

.parrafo {
    font-size: larger;

}

.map {
    height: 300px;
    width: 600px;
    flex-grow: 2;
    margin-bottom: 30px;
}



.slider-container {
    margin: 20px;
    display: flex;
    justify-content: flex-start;
    position: relative;
    overflow: auto;
    z-index: 2;
    height: 300px;
    overflow-y: hidden;
    z-index: 1;
}

::-webkit-scrollbar {
    width: 3px;
    height: 5px;
    margin-right: auto;
}

::-webkit-scrollbar-thumb {
    background: goldenrod;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background: #b30000;
    height: 7px;
}

.slider-item {
    display: flex;
    background-color: white;
    max-width: 100px;
    min-height: 100px;
    min-width: 100px;
    transform: rotate(-10deg);
    transition: transform .2s;
    border: 3px solid goldenrod;
    z-index: 2;
    position: relative;
    left: 40px;
    top: 40px;
}

.slider-item:hover {
    transform: scale(1.5);
    align-items: center;
    object-fit: contain;
    border: 3px solid #F59877;
    max-height: 100px;
    width: 100px;
    flex-wrap: wrap;
    z-index: 3;
    cursor: pointer;


}

.footer {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 5em;
    background-color: black;
}

@media screen and (max-width: 600px) {
    * {
        margin: 0px;
        padding-left: 1px;
    }
    .helmets {
        height: 20px;
        margin-right: 10px;
        margin-left: 20px;
    }

    nav {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 60px;
    }

    .navbutton {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .slider-container {
        flex-wrap: wrap;
        overflow-y: visible;
    }

    .contacto-container {
        flex-wrap: wrap;
        flex-shrink: 2;
        align-items: center;
        justify-content: center;
    }

    .map {
        width: 90%;
        height: 150px;
        margin: auto;
    }

    .contacto {
        font-size: medium;
    }

    li{
        align-self: center;
    }
}